html, body {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #152c4d 0%, #122647 100%), 
              linear-gradient(to bottom, rgba(33,56,88, 0.8), rgba(24,47,78, 1));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;   /* ✅ ครอบคลุมเต็มหน้าจอ desktop */

  font-family: "Berlin Sans FB", Arial, sans-serif; /* ✅ ใช้ฟอนต์ Berlin Sans FB */
}

